#msgText {
  width: 80%;
  height: 60%;
}

#submitBtn {
  border: 1px solid black;
  border-radius: 100%;
  padding: 15px;
  // cursor: pointer;
}

.disabledBtn {
  opacity: 0.5;
  // cursor: none;
}

.enabledBtn {
  cursor: pointer;
}
